## Workflow - Social Listening on Twitter | Marketing Insights (Athlete, Team, Brand)

---
> ### 1. SET UP DEVELOPMENT ENVIRONMENT

**1.0 Import required Python software into current development environment (i.e. this notebook)**
```
import pandas as pd
```

**1.1 Configure notebook for code autocompletion + displaying plots + displaying max columns, rows, and column width of panda data objects**
```
%config Completer.use_jedi = False
%matplotlib inline
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None
```

---
> ### 2. LOAD & PREP DATA

**2.0 Data Load** - read in the `tweets.csv` file located in the `data` directory (folder), also specifying that the `date` column in the csv is to be treated as datetime type of data
```
raw_data = pd.read_csv("data/tweets.csv", parse_dates=["date"])
```

**2.1 Data Prep** - make a copy of raw data to work on called `df`

```
df = raw_data.copy()
```

**2.2 Data Prep** - use the `head()` function to check the first 5 rows of the `df` object, which is a `pandas` dataframe (df), basically a 2 dimensional data structure with rows & columns 
```
df.head()
```

**2.3 Data Prep** - check the dimensions of the `df` (<no. of rows>, <no. of columns>). Should be (5030, 22)
```
df.shape
```

---
> ### 3. EXPLORATORY DATA ANALYSIS (EDA)

**3.0 EDA** - filter the `df` to return tweet record (row) in this dataset which got the most likes
```
df[df["likes"] == df["likes"].max()]
```

**3.1 EDA** - filter the `df` to return the rows where the tweet text contains a certain string object (`""`), e.g. `"nike"`
```
df[df["text"].str.contains("nike")]
```

---
> ### 4. DATA ANALYSIS & VISUALISATION

**4.0 ANALYSIS/VIZ PREP** - convert the `date` column into the `index` for the `df`, i.e. ID for each row, making the change permanent by specifying `inplace=True`
```
df.set_index("date", inplace=True)
```

**4.1 ANALYSIS/VIZ** - select the Boolean (`True` or `False`) columns that indicate whether a tweet also references Barcelona, Man City, or England (alongside Keira Walsh), use the `resample()` function to aggregate the tweets for each of these 3 categories by a chosen period of time, then plot over time, i.e. as a time series
```
df[["barcelona", "man_city", "england"]].resample("H").sum().plot( figsize=(12,6))
```

**4.2 ANALYSIS/VIZ PREP** - add a new column called `count` to `df` in which every row value is 1
```
df = df.assign(count=1)
```

**4.3 ANALYSIS/VIZ PREP** - create a new df called `language` as a copy of the `lang` and `count` columns of the original df, and turning `date` back into a column again
```
language = df[["lang", "count"]].reset_index().copy()
```

**4.4 ANALYSIS/VIZ PREP** - check new `language` df
```
language.head()
```

**4.5 ANALYSIS/VIZ** - make a frequency table using `value_counts()` and normalize the values to what proportion of tweets in the dataset were written in what language
```
language["lang"].value_counts(normalize=True)
```

**4.6 ANALYSIS/VIZ PREP** - using the frequency table insight, update the values in the `lang` column so that there are only 4x categories, English , Spanish, Catalan, and a catch-all called `"other"` 
```
language["lang"] = language["lang"].apply(lambda x: x if x in ["en", "es", "ca"] else "other")
```

**4.7 ANALYSIS/VIZ PREP** - check this re-categorisation by generating a frequency table on this updated `lang` column
```
language["lang"].value_counts()
```

**4.8 ANALYSIS/VIZ** - plot the `date` and `lang` columns by language and aggregated by a chosen time period against time, i.e as a time series, and as an area plot
```
language.groupby(["date", "lang"]).sum().unstack().resample("H").sum().plot(kind="area", figsize=(12,6))
```

---

_Sports Python Educational Project content, licensed under Attribution-NonCommercial-ShareAlike 4.0 International_